.navbar{
    width: 100%;
    height: 90px;
    background-color: white;
    position: fixed;
    z-index: 100;
  
}

.containerr{
    padding-left: 80px;
    padding-right: 80px;
}

.navbar-nav .nav-link {
    padding: 6px 24px!important;
    color:black;
}
.navbar-light .navbar-nav .nav-link {
    color:black;
}

.hero{
    width: 100%;
    height: 100vh;
   background: url('https://res.cloudinary.com/edifice-solutions/image/upload/v1705061544/Screenshot_2024-01-12_at_1.10.56_PM_qhikfu.png');
   background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   flex-direction: row;
   justify-content: end;
   align-items: center;
   padding-right: 80px;
}

.herohead{
    color: #fff;
    margin-top:170px;
    font-size: 48px;
    line-height: 66px;
    text-align: right;
    font-weight: bold;
    
    
}

.heroheadtwo{
   

    color: #85bace;
    font-family: Roboto Slab,serif;
    font-size: 35px;
    line-height: 38px;
    width: 100%;
    
    
}


.hrr{
    width:90px;
    border:1.2px solid #f27b3f;
    color:#f27b3f;
text-align: right;
float: right;
}

.hrtwo{
    width:90px;
    border:1.2px solid #f27b3f;
    color:#f27b3f;


}


.btn{
    align-items: center;
    border-radius: 92px;
    border-width: 2px;
    display: inline-flex;
    font-family: AvenirLTStd-Black,serif;
    font-size: 1.1rem;
    font-weight: bolder;
    height: 1px;
    justify-content: center;
    line-height: 1;
    min-height: 48px;
    padding: 14px 50px;
    position: relative;
    text-decoration: none;
}

.buttondiv{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.search{
    background-color: #f8b64d;
}

.send{
    background-color: #f27b3f;
}


.about{
    width:100%;
    min-height: 80vh;
    background:url('https://res.cloudinary.com/edifice-solutions/image/upload/v1705065484/about-img_svo1ml.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.abouthead{
    color: #154470;
    font-size: 40px;
    line-height: 54px;
    font-weight: 700;

}

.aboutdiv{
    padding-left: 250px;
    padding-right: 250px;
}

.aboutpara{
    line-height: 1.6;
}



.opening{
    width: 100%;
    min-height: 90vh;
    background: url('https://res.cloudinary.com/edifice-solutions/image/upload/v1705066011/Screenshot_2024-01-12_at_2.25.24_PM_vo0fdq.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

label{
    color: #154470;
    font-family: Roboto Slab,sans-serif;
    font-size: 1.125rem;
    font-weight: 900;
    margin-bottom: 0;
    padding-bottom: 4px;
}

.form-control{
    background-color: #fff;
    border: 1px solid #154470;
    border-radius: 8px;
    color: #000;
    height: 58px;
    line-height: 48px;
    margin: 0;
    min-height: 48px;
    padding: 0 1rem;
    position: relative;
    width: 100%;
    z-index: 1;
}

.jobsearch{
    width: 100%;
    min-height: 50vh;
    background-color: #f4f4f4;
}

th{
    color:#212529;
    font-size: 20px;
    font-weight: 400;
}

.table tbody td {
    height: 90px;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    vertical-align: middle;
}

.icons{
    color:#f8b64d;
    font-size:20px
}


.save{
    width: 100%;
    min-height: 50vh;
    background-color: #f4f4f4;
    padding-top: 50px;
    padding-bottom: 50px;

}

.savediv{
    background-color: #154470;
    color: #fff;
    padding: 45px 30px;
    min-height: inherit;
    border-radius: 43px;
}

.savehead{
    font-size: 40px;
    line-height: 54px;
    font-weight: 700;
}

.savedbtn{
    margin-top: 90px;
}

.alertt{
    width: 100%;
    height: 70vh;
   background: url('https://res.cloudinary.com/edifice-solutions/image/upload/v1705072098/Screenshot_2024-01-12_at_4.07.21_PM_gm2942.png');
   background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   flex-direction: row;
   justify-content: start;
   align-items: center;
   padding-right: 80px;
}


.alerthead{
    color: #fff;
    margin-top:100px;
    font-size: 36px;
    line-height: 36px;
    text-align: left;
    font-weight: bold;
    
    
}

.alertheadtwo{
   

    color: #85bace;
    font-family: Roboto Slab,serif;
    font-size: 22px;
    line-height: 18px;
    width: 100%;
    
    
}

.alerthrr{
    width:90px;
    border:1.2px solid #f27b3f;
    color:#f27b3f;
text-align: left;
float: left;
}


.footerhr{
    width:100%;
    border:10px solid #f27b3f;
    color:#f27b3f;
    margin-top: -25px;

}

.footer{
    width: 100%;
    height: 40vh;
    background-color: #154470;
    margin-top: -20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
   
}

.social{
    width: 250px;
}

.small{
    color:white;
    font-size:12px;
    text-align: center;
}



/* unique page */

.titlehead{
    color: #154470;
    font-size:48px;
    line-height: 66px;
    font-weight: bold;
}

.titleheadtwo{
    color: #154470;
    font-size:32px;
    line-height: 66px;
    font-weight: bold;
}

.post{
    font-size: 12px;
}

.iconss{
    color: #154470;
    font-size: 20px;
}

.rowspan{
    font-size: 14px;
}

.apply{
    background-color: #f27b3f;
    color:black;
}

.jobhead{
    font-size: 20px;
    font-weight: bold;
}

.jobcontent{
    font-size:14px;
    line-height: 1.5;
}

.mylabel{
    color:white,
}

.upload{
    font-size:14px;
    font-weight: bold;
    margin-top: 20px;
}

.uploadtext{
    color: white;
    font-size:14px;

}

.content{
    font-size: 14px;
}

.boldspan{
    font-weight: bold;
    font-size:14px;
    color:white;
}